n8n/templates/follow-up-reminder.json
{
  "name": "Follow-up Reminder (3 Days)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "follow-up-reminder",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "follow-up-reminder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "lead.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-1",
      "name": "Filter New Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "wait-1",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "leadName",
              "value": "={{ $json.body.data.name }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "leadEmail",
              "value": "={{ $json.body.data.email }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "leadCompany",
              "value": "={{ $json.body.data.company }}",
              "type": "string"
            },
            {
              "id": "assign-4",
              "name": "message",
              "value": "=Hi {{ $json.body.data.name }},\n\nJust checking in! You showed interest in our platform {{ $json.body.data.company ? 'on behalf of ' + $json.body.data.company : '' }} 3 days ago.\n\nWould you like to schedule a quick call to discuss how we can help?\n\nBest,\nThe LeadBoost Team",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-1",
      "name": "Format Follow-up",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [910, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.leadEmail }}",
        "subject": "=Following up, {{ $json.leadName }}!",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "email-1",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP (Mailpit)"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Leads": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Format Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Follow-up": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "leadboost"
    }
  ]
}
